{% extends 'myauth/base.html' %}
{% load cache %}

{% block title %}
    About me
{% endblock %}

{% block body %}
    <h1>User info</h1>
    <div>
        Products available: {% now "u" %}
    </div>
    {% if user.is_authenticated %}
        {% cache 10 userinfo user.username %}
        <h2>Detail</h2>
        <p>Username: {{ user.username }}</p>
        <p>First name: {{ user.first_name }}</p>
        <p>Last name: {{ user.last_name }}</p>
        <p>Email: {{ user.email }}</p>
        <p>Bio: {{user.profile.bio }}</p>
        {% if user_profile.avatar %}
        <div>
            <h2>Avatar:</h2>
            <img src="{{ user_profile.avatar.url }}" alt="{{ user_profile.avatar.name }}">
        </div>
        {% else %}
        <h2>No avatar</h2>
        {% endif %}
        {% endcache %}
    <h2>Update avatar:</h2>
    <div>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Update</button>
        </form>
    </div>
    {% else %}
        <h2>User is anonymous</h2>
    {% endif %}
{% endblock %}